body{
  background-color: #45454d;
  font-family: Apple Chancery;
  font-weight: bold;
}
.header img{
  height: 150px;
}
.shell1{
  background-color: #fff1e9;
  text-align: center;
  height: 700px;
}
.shell1 h1{
  color: #ff4893;
}
.shell2{
  background-color: #45454d;
  text-align: center;
  height: 700px;
}
.shell2 h1{
  color: #ffd5d5;
}
.photo{
  padding: 1% 15%;
}
.photo img{
  height: 500px;
}
.footer{
  background-color: #45454d;
  color: #ffd5d5;
  text-align: center;
}
a{
  text-decoration: none;
  color: #ffd5d5;
  padding-left:10px;
  text-align: right;
  font-size: 2em;
}
.shell1 a {
  text-align: center;
}
.shell2 a {
  text-align: center;
}
