body{
  background-color: #45454d;
  font-family: Apple Chancery;
  font-weight: bold;
}
.header img{
  height: 150px;
  padding-top: 2%;
  padding-left: 2%;
}
.header{
  padding-bottom: 2%;
}
.shell1{
  background-color: #fff1e9;
  text-align: center;
  height: 700px;
}
.shell1 h1{
  color: #ff4893;
}
.shell2{
  background-color: #45454d;
  text-align: center;
  height: 700px;
}
.shell2 h1{
  color: #ffd5d5;
}
.photo{
  padding: 1% 15%;
}
.photo img{
  height: 500px;
}
.footer{
  background-color: #45454d;
  color: #ffd5d5;
  text-align: center;
}
a{
  text-decoration: none;
  color: #ff4893;
  padding-left:10px;
  text-align: right;
  font-size: 2em;
}
.shell1 a {
  text-align: center;
  text-decoration: none;
}
.shell2 a {
  text-align: center;
  text-decoration: none;
}
.shell3{
    background-color: #fff1e9;
    text-align: center;
    height: 350px;
  }
  .shell3 h1{
    color: #ff4893;
  }
.shell3 p{
  padding-top: 3px;
}
